@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html, body, div {
  margin: 0px;
  padding: 0px;
}

.contenedor {
  background-color: red;
  height: 100vh;
  /*scroll snap*/
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.portada {
  background-color: #7DC1C0;
  overflow-y: hidden;
  height: 100vh;
  /*scroll snap*/
  scroll-snap-align: start;
  min-height: 60vh;
}

.pantalla1 {
  background-color: lightgreen;
  height: 100vh;
  /*scroll snap*/
  scroll-snap-align: start;
  min-height: 60vh;
}

.pantalla2 {
  background-color: lightyellow;
  height: 100vh;
  /*scroll snap*/
  scroll-snap-align: start;
  min-height: 60vh;
}

#titulo {
  font-family: 'Poppins', sans-serif;
  font-size: 4.5rem;
  color: #184341;
  /*posicion*/
  display: flex;
  justify-content: center;
  position: relative;
  top: 40vh;
}

#portadaIMG {
  position: relative;
  top: 41vh;
}
