html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background-image: url("img/background.jpg");
}

#flecha-izquierda {
  position: absolute;
  z-index: 50;
  left: 50px;
  top: 30vh;
}

#flecha-derecha {
  position: absolute;
  z-index: 50;
  left: 1729px;
  top: 30vh;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#personaje {
  display: none;
}

#causa {
  display: none;
}

#inst1, inst2, inst3, barra, icoReloj progreso{
  display: none;
}
